@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.fadeIn {
  animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.portfolio h3 {
  @apply text-lg font-medium;
}
.portfolio input {
  @apply text-base font-medium text-neutral-focus;
}
.portfolio td,
.portfolio h5 {
  @apply text-sm font-medium;
}
.portfolio div {
  @apply flex justify-start sm:justify-center gap-2 items-center;
}
.portfolio div > input {
  @apply text-center;
}

.input-container {
  @apply relative z-0 mb-8 w-full;
}
.input-field {
  @apply block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-4 border-gray-900/20 appearance-none focus:outline-none focus:border-gray-800 placeholder:font-medium placeholder:text-sm sm:placeholder:text-lg placeholder:text-gray-800;
}

.input-label {
  @apply absolute text-base font-medium text-gray-900/70 duration-300 -translate-y-8 top-3 -z-10 origin-[0];
}
